
<app-navbar></app-navbar>

<!-- Aqui habra una pagina inicio,  con un boton para ver foros, y una bienvenida -->

<DIV class="Back back2"></DIV>

<a href="#" (click)="goToForos()" class="btn">Ver los Foros</a>
<button routerLink="/dashboard/foros">Foros</button>