.absolute{
  position: absolute;
  margin: 10px;
  margin-top: 55px;
}

.example-card {
  max-width: 230px;
}

.example-header-image {
  background-image: url('../../../../assets/img/logo-kpop.webp');
  background-size: cover;
  background-position: center;
}

.all{
  margin-top: 55px;
}

.Filas{
  /* background-color: #ededed; */
  /* height: 300px; */
  /* padding: 20px; */
  margin-bottom: 20px;
  width: 60%;
  margin: 0 19%;
  border: 20px solid #ededed;
}

.titulo{
  background-color: #3d0c74;
  color: #fff;
  font-size: 20px;
  padding: 15px;
}
.avatar{
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
  float: left;
  margin-top: 5px;
}

.primer{
  padding: 12px;
  border-bottom: 2px solid #fff;
  height: 90px;
  background-color: #ededed;
}

.der{
  width: 60%;
  float: left;
  /* background-color: blue; */
}
.izq{
  width: 40%;
  float: right;
  /* background-color: aqua; */
  right: 0;
}

.primer h1{
  font-size: 25px;
  color: rgb(119, 119, 119);
  text-align: left;
  margin-top: 20px;
  /* background-color: blanchedalmond; */
}

.cantidadMensajes{
  float: left;
  text-align: right;
  margin-right: 15px;
  margin-top: 15px;
  color: gray;
}

.primer p a{
  font-size: 20px;
}
.primer p span{
  color: gray;
}
